name: Kiwi Playwright Python

on:
  push:
    branches: [ master ]
  pull_request:
    branches: [ master ]

  workflow_dispatch:
    inputs:
      test_suite:
        description: 'Which test suite to run?'
        type: choice
        options:
          - all
          - T1
        default: 'T1'

jobs:
  run-tests:
    name: Run ${{ github.event_name == 'workflow_dispatch' && format('({0})', github.event.inputs.test_suite) || '(All Tests)' }}
    timeout-minutes: 60
    runs-on: ubuntu-latest

    steps:
    - name: Check out repository
      uses: actions/checkout@v5

    - name: Build the Docker image
      run: docker build . -t kiwi-tests

    - name: Set Pytest Command
      id: set_command
      run: |
        if [[ "${{ github.event_name }}" == "workflow_dispatch" ]]; then
          if [[ "${{ github.event.inputs.test_suite }}" == "all" ]]; then
            echo "PYTEST_COMMAND=pytest --tracing=retain-on-failure" >> $GITHUB_ENV
            echo "ARTIFACT_NAME=playwright-traces-manual-all" >> $GITHUB_ENV
          else
            echo "PYTEST_COMMAND=pytest -m ${{ github.event.inputs.test_suite }} --tracing=retain-on-failure" >> $GITHUB_ENV
            echo "ARTIFACT_NAME=playwright-traces-manual-${{ github.event.inputs.test_suite }}" >> $GITHUB_ENV
          fi
        else
          echo "PYTEST_COMMAND=pytest --tracing=retain-on-failure" >> $GITHUB_ENV
          echo "ARTIFACT_NAME=playwright-traces-regression" >> $GITHUB_ENV
        fi

    - name: Run tests inside the container
      run: |
        docker run \
          -e DOCKER_RUN=true \
          --rm \
          -v $(pwd)/test-results:/app/test-results \
          kiwi-tests \
          ${{ env.PYTEST_COMMAND }}

    - name: Upload test trace files
      if: ${{ !cancelled() }}
      uses: actions/upload-artifact@v4
      with:
        name: ${{ env.ARTIFACT_NAME }}
        path: test-results/
        retention-days: 7
